<!DOCTYPE html>
<html>
<head>
  <title>ComeCleanCorp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Projects", welcome_projects_path %></li>
			<li><%= link_to "Pricing", welcome_pricing_path %></li>
			<li><%= link_to "About Us", welcome_about_path %></li>
			<li><%= link_to "Contact Us", welcome_contact_path %></li>
		</ul>
		<%= yield %>
	</div>

</body>
</html>
